      volumes:
        - name: kuma-fs
          persistentVolumeClaim:
            claimName: {{ SHARED_PVC_NAME }}
      containers:
        - name: {{ KUMA_NAME }}
          image: {{ KUMA_IMAGE }}:{{ KUMA_IMAGE_TAG }}
          imagePullPolicy: {{ KUMA_IMAGE_PULL_POLICY }}
          volumeMounts:
            - name: kuma-fs
              mountPath: {{ KUMA_MOUNT_PATH }}
          resources:
            requests:
              cpu: {{ KUMA_CPU_REQUEST }}
              memory: {{ KUMA_MEMORY_REQUEST }}
            limits:
              cpu: {{ KUMA_CPU_LIMIT }}
              memory: {{ KUMA_MEMORY_LIMIT }}
          env:
            # Django settings overrides:
            - name: ACCOUNT_DEFAULT_HTTP_PROTOCOL
              value: {{ KUMA_ACCOUNT_DEFAULT_HTTP_PROTOCOL }}
            - name: ADMIN_NAMES
              value: "{{ KUMA_ADMIN_NAMES }}"
            - name: ADMIN_EMAILS
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: admin-emails
            - name: ALLOW_ROBOTS
              value: "{{ KUMA_ALLOW_ROBOTS }}"
            - name: ALLOWED_HOSTS
              value: "{{ KUMA_ALLOWED_HOSTS }}"
            - name: ATTACHMENT_HOST
              value: {{ KUMA_ATTACHMENT_HOST }}
            - name: ATTACHMENT_ORIGIN
              value: {{ KUMA_ATTACHMENT_ORIGIN | default(KUMA_ATTACHMENT_HOST, True) }}
            - name: BROKER_URL
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: redis-url
            - name: CELERY_ALWAYS_EAGER
              value: "{{ KUMA_CELERY_ALWAYS_EAGER }}"
            - name: CELERY_RESULT_BACKEND
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: redis-url-1
            - name: CELERYD_MAX_TASKS_PER_CHILD
              value: "{{ KUMA_CELERYD_MAX_TASKS_PER_CHILD }}"
            - name: CSRF_COOKIE_SECURE
              value: "{{ KUMA_CSRF_COOKIE_SECURE }}"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: {% if KUMA_MAINTENANCE_MODE.lower() == "true" %}database-url-ro{% else %}database-url{% endif %}
            - name: DEBUG
              value: "{{ KUMA_DEBUG }}"
            - name: DEBUG_TOOLBAR
              value: "{{ KUMA_DEBUG_TOOLBAR }}"
            - name: DEFAULT_FROM_EMAIL
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: default-from-email
            - name: DOMAIN
              value: {{ KUMA_DOMAIN }}
            - name: EMAIL_BACKEND
              value: {{ KUMA_EMAIL_BACKEND }}
            - name: EMAIL_URL
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: email-url
            - name: ENABLE_CANDIDATE_LANGUAGES
              value: "{{ KUMA_ENABLE_CANDIDATE_LANGUAGES }}"
            - name: ES_INDEX_PREFIX
              value: {{ KUMA_ES_INDEX_PREFIX }}
            - name: ES_LIVE_INDEX
              value: "{{ KUMA_ES_LIVE_INDEX }}"
            - name: ES_URLS
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: elasticsearch-url
            - name: FOUNDATION_CALLOUT
              value: "{{ KUMA_FOUNDATION_CALLOUT }}"
            - name: KUMASCRIPT_URL_TEMPLATE
              value: {{ KUMA_URL_TEMPLATE_FOR_KUMASCRIPT }}
            - name: LEGACY_HOSTS
              value: "{{ KUMA_LEGACY_HOSTS }}"
            - name: LEGACY_ROOT
              value: "{{ KUMA_LEGACY_ROOT }}"
            - name: MAINTENANCE_MODE
              value: "{{ KUMA_MAINTENANCE_MODE }}"
            - name: MEDIA_ROOT
              value: {{ KUMA_MEDIA_ROOT }}
            - name: MEDIA_URL
              value: {{ KUMA_MEDIA_URL }}
            - name: MEMCACHE_SERVERS
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: memcached-url
            - name: NEW_RELIC_APP_NAME
              value: {{ NEW_RELIC_APP_NAME }}
            - name: NEW_RELIC_BROWSER_MONITOR_ENABLE
              value: "{{ NEW_RELIC_BROWSER_MONITOR_ENABLE }}"
            - name: NEW_RELIC_CONFIG_FILE
              value: {{ NEW_RELIC_CONFIG_FILE }}
            - name: NEW_RELIC_MONITOR_MODE
              value: "{{ NEW_RELIC_MONITOR_MODE }}"
            - name: NEW_RELIC_LABELS
              value: "{{ NEW_RELIC_LABELS }}"
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-secrets
                  key: NEW_RELIC_LICENSE_KEY
            - name: NEW_RELIC_LOG
              value: "{{ NEW_RELIC_LOG }}"
            - name: PROTOCOL
              value: {{ KUMA_PROTOCOL }}
            - name: RATELIMIT_ENABLE
              value: "{{ KUMA_RATELIMIT_ENABLE }}"
            - name: REDIS_BASE_URL
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: redis-base-url
            - name: REDIS_CACHE_SERVER
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: redis-url-2
            - name: SECURE_HSTS_SECONDS
              value: "{{ KUMA_SECURE_HSTS_SECONDS }}"
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: sentry-dsn
            - name: SERVE_LEGACY
              value: "{{ KUMA_SERVE_LEGACY }}"
            - name: SERVER_EMAIL
              valueFrom:
                secretKeyRef:
                  name: mdn-secrets
                  key: server-email
            - name: SESSION_COOKIE_SECURE
              value: "{{ KUMA_SESSION_COOKIE_SECURE }}"
            - name: SITE_URL
              value: {{ KUMA_PROTOCOL }}{{ KUMA_DOMAIN }}
            - name: STATIC_URL
              value: {{ KUMA_STATIC_URL }}
            # Other environment overrides
            - name: PYTHONUNBUFFERED
              value: "True"
            - name: WEB_CONCURRENCY
              value: "{{ KUMA_WEB_CONCURRENCY }}"
